.cinnamon-bun-image,
.coffee-cake-image,
.chocolate-danish-image,
.chocolate-chip-cookies-image {
    width: 200px;
    height: auto;
}

.padding {
    padding-left: 10px;
}

.recipe-image {
    width: 150px;
    height: auto;
    margin: 10px 0;
}
